<div *ngIf="this.response" class="main_div">
    <div class="title_game">
        <h1>
            {{this.response.name}}
        </h1>
    </div>
    <div class="detail_div">
        <div class="text_detail">
            <div class="genre">
                <p>
                     Genre : {{this.response.genre.name}}
                </p>
            </div>
            <div class="business">
                <p>
                    Style de gameplay : {{this.response.businessModel.name}} publié par {{this.response.publisher.name}}
                </p>
            </div>
            <div class="platforms_div">
                <p>Disponible sur les plateforms : </p> 
                <div *ngFor="let platforms of this.response.platforms" >
                    {{platforms.name}}
                </div>
            </div>
            <div class="description">
                <h3>Description : </h3>
                <p>
                    {{this.response.description}}
                </p>
            </div>
        </div>
        <div class="img_div">
            <img src="{{serverImgUrl}}{{response.picture}}" alt="{{response.name}}">
        </div>
    </div>
    <div class="button_action buttons">
        <div *ngIf="this.isLogStatus && this.isLogStatus.role == 'Player'">
            <button mat-raised-button (click)="addReview(response.id)">Ajouter un avis</button>
        </div>
        <div *ngIf="this.isLogStatus && this.isLogStatus.role == 'Moderator'">
            <button mat-raised-button color="primary" (click)="modifyGame(response.id)">Edit Game</button>
            <button mat-raised-button color="warn" (click)="deleteGame(response.id)">Delete Game</button>
        </div>
    </div>
    <div class="review_div">
        <h1> Review : </h1>
        <div *ngIf="this.reviews.length > 0; else elseBlock">
            <div *ngFor="let review of this.reviews" class="review">
                <!-- <div class="review_info">
                    <p>{{review.name}}</p>
                    <p>{{review.datePublication}}</p>
                    <p>{{review.score}}</p>
                </div>
                <div>
                    <p>{{review.description}}</p>
                </div> -->
    
                <mat-card class="review">
                    <mat-card-title class="flex-between">
                      <p>{{ review.game.name }}</p>
                      <p>Score: {{ review.score }}/20</p>
                    </mat-card-title>
                    <mat-divider inset></mat-divider>
                    <mat-card-content>
                    <mat-card-subtitle class="flex-between">
                      <p>Player: {{ review.player.pseudonym }}</p>
                      <p>Date: {{ review.publicationDateTime | date:'medium' }}</p>
                    </mat-card-subtitle>
                      <mat-card-content>{{ review.description }}</mat-card-content>
                    </mat-card-content>
                  </mat-card>
            </div>

        </div>
        <ng-template #elseBlock>
            <h3>
                No review has been validated on this game.
            </h3>
        </ng-template>
    </div>
</div>