<nav>
  <mat-toolbar color="primary">
    <div>
      <p class="website-title"><a href="">TEAM ONE GAMEZONE</a></p>
    </div>
    <div class="buttons">
      <div *ngIf="!isLogin">
        <button mat-raised-button class="signup-button" (click)="onSignUp()"*ngIf='!isLogStatus' >Signup</button>
        <button mat-stroked-button (click)="onLogin()">Login</button>
      </div>
      <div *ngIf="isLogin">
        <button *ngIf='isLogStatus.role == "Moderator"' mat-stroked-button (click)="addGame()">Add Game</button>
        <button *ngIf=' isLogStatus.role == "Moderator"' mat-stroked-button (click)="ModeratorPage()">Moderator Page</button>
        <button (click)="LogOut()" mat-raised-button color="warn">Log Off</button>
      </div>
    </div>

    <button mat-icon-button  [matMenuTriggerFor]="menu" class="hamburger-menu" >
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <div *ngIf="!isLogin">
        <button mat-menu-item (click)="onSignUp()"><span>SignUp</span></button>
        <button mat-menu-item (click)="onLogin()"><span>Login</span></button>
      </div>
      <div *ngIf="isLogin">
        <button mat-menu-item *ngIf='isLogStatus.role == "Moderator"'  (click)="addGame()" color="warn"><span>Add Game</span></button>
        <button mat-menu-item *ngIf='isLogStatus.role == "Moderator"'(click)="ModeratorPage()" color="warn"><span>Moderator Page</span></button>
        <button mat-menu-item (click)="LogOut()" color="warn"><span>Log Off</span></button>
      </div>
    </mat-menu>
  </mat-toolbar>
</nav>
