mat-toolbar {
  background-color: #1d2228 !important;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0px 40px;
}

.website-title a {
  text-decoration: none;
  font-size: 26px;
  color: #cfc547;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 16px 22px 11px rgba(168, 158, 32, 0.8);
}

nav {
  position: sticky;
  top: 0px;
  z-index: 999;
}

.buttons button:not(:last-child) {
  margin-right: 10px;
}

.mat-button,
.mat-stroked-button {
  border: 1px solid white;
}

.hamburger-menu {
    display: none;
}

@media screen and (max-width: 600px) {
  .website-title a {
    font-size: 18px;
  }

}


@media screen and (max-width: 700px) {
  
    .hamburger-menu {
        display: flex;
        flex-direction: column;
    }
  
    .hamburger-menu button {
        display: block;
    }
  
    .buttons {
        display: none;
    }

    .website-title  {
      text-align: center;
      }
  }
  
