<footer>
  <mat-divider></mat-divider>

  <mat-grid-list cols="12">
    <mat-grid-tile colspan="3">
        <div>
          <div class="flex-items">
            <mat-icon>face</mat-icon> 
            <h4>JOIN THE COMMUNITY</h4>
          </div>
          <span>More than 5,000 followers</span>
        </div>
      </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div>
        <div class="flex-items">
          <mat-icon>face</mat-icon> 
          <h4>JOIN US ON FACEBOOK</h4>
        </div>
        <span>5,000 people in the community</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
        <div>
          <div class="flex-items">
            <mat-icon>face</mat-icon> 
            <h4>FOLLOW US ON TWITTER</h4>
          </div>
          <span>1,500 subscribers</span>
        </div>
      </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="flex-items">
        <mat-icon>face</mat-icon>
        <span>Watch us on youtube</span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="12">
    <mat-grid-tile colspan="3">
      <div class="center-icon">
        <mat-icon>face</mat-icon>
        <h4>ORSYSGAMING.NET</h4>
        <span>LETS BATTLE</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="alignments">
        <h4>NOTRE EQUIPE</h4>
        <span>KINGSLEY MGBAMS</span><br />
        <span>WISSEM KHALED</span><br />
        <span>NOVAK OLEG</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="alignments">
        <span>PRIVACY POLICY</span><br />
        <span>TERMS OF SERVICE</span><br />
        <span>CAREERS</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="footer-lang">
        <mat-icon>sports_score</mat-icon>
        <span>USA(ENGLISH)</span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="last-footer-div">
    <p>
      &copy; 2022 OrsysGaming.net
      <span
        >All rights reserved. Powered by TeamOne Technology&trade; &copy;</span
      >
    </p>
  </div>
</footer>
