.login-container{
    text-align: center
}

.form-container{
    width: 40vw; 
    margin: 0 auto; 
}

mat-error {
    font-size: .9rem;
}

.mat-form-field-container .form-field {
    margin-bottom: 20px;
}

.loginButton {
    margin-top: 25px;
}
