<div class="review-form-container">
  <mat-card>
    <form [formGroup]="addReviewForm">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Game</mat-label>
          <input matInput formControlName="game" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Textarea</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Score</mat-label>
          <input matInput formControlName="score" type="number" class="score" />
        </mat-form-field>
      </div>

      <div>
        <input formControlName="player_id" class="hideen-field" />
        <input formControlName="publication_date_time" class="hideen-field" />
      </div>

      <div>
        <button
          color="primary"
          class="save-button"
          type="submit"
          (click)="submitForm()"
        >
          Save
        </button>
      </div>
    </form>
  </mat-card>
</div>
