.confirm-dialog-container .content-container {
   margin: 5px 5px 15px 5px;
   color: #8f9cb5;
   display: flex;
}

.confirm-dialog-container #close-icon {
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}

.confirm-dialog-container  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}

.buttons-container {
    align-self: flex-end;
    position: relative;
}

.message {
    margin-top: -20px;
    font-size: 18px;
}

.buttons-container button {
    border-radius: 25px;
    color: white;
} 

.buttons-container button:first-child {
    margin-right: 10px;
    background-color: firebrick;
} 

.buttons-container button:last-child {
    color: firebrick;
    border: 1px solid firebrick;
} 

