<div class="homepage-welcome-image">
  <div class="welcome-page-title">
    <h1>WORLD OF TANKS</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
      voluptas fugit asperiores sunt iste repudiandae illum. Laborum dolores
      velit veniam ipsa reprehenderit? Eius, doloremque vel. Architecto debitis
      labore voluptates id blanditiis!
    </p>
  </div>
</div>

<mat-grid-list
  cols="4"
  rowHeight="150px"
  gutterSize="20"
  class="slider-container"
>
  <mat-grid-tile colspan="3" rowspan="1" class="left-img">
    <p>THE NEW ORSYS CHALLENGE ROLLS OUT</p>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1" class="right-img"
    ><p>NEW GAME IN TOWN</p>
  </mat-grid-tile>
</mat-grid-list>

<h3 class="home-page-game-lists">NEW GAMES IN THE BLOCK</h3>

<div class="grid-container" *ngIf="games">
  <mat-grid-list [cols]="(cardsLayout | async)?.gridColumns" rowHeight="350px">
    <mat-grid-tile
      [colspan]="(cardsLayout | async)?.cols"
      *ngFor="let game of games"
    >
      <mat-card class="game-card">
        <img
          mat-card-image
          src="{{ serverImgUrl }}{{ game.picture }}"
          alt="{{ game.name }}"
          class="{{ game.name }}"
        />
        <mat-card-content class="game-card-content">
          <div>
            <mat-card-title>{{ game.name }}</mat-card-title>
            <mat-card-subtitle>{{ game.genre.name }}</mat-card-subtitle>
            <div class="mat-card-actions">
              <button
                mat-raised-button
                color="warn"
                (click)="moreDetails(game.id)"
              >
                More Info
              </button>
              <p>
                <span>5/20</span
                ><mat-icon class="notes-stars">star_outline</mat-icon>
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <app-paginator
    [pageSize]="pageSize"
    (ChangePageOnClick)="nextPage($event)"
    [length]="length"
  ></app-paginator>
</div>
